{
  "extends": "@infinumjs/eslint-config-react",
  "env": {
    "browser": true
  },
  "rules": {
    "react/prefer-stateless-function": [0, false],
    "react/require-optimization": [0, false]
  }
}
